.bg{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #b9ffde; */
    background: url('https://source.unsplash.com/1600x800/?green-gradient');
    color:rgb(29, 29, 29);
}

.todo-bg{
    gap: 3rem;
    padding: 3rem;
    min-width: 35vw;
    min-height: 50vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.495);
    border-radius: 12px;
}

.task-header{
    width:100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.task-header > div{
    height: fit-content;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

h1{
    margin:0;
}

input[type="text"]{
    padding: 0.5em;
    outline: 0;
    border:0;
    font-size: 1rem;
}

.add-task-btn{
    border: 0;
    border-radius: 0;
    background-color: white;
    color: black;
}

.add-task-btn:hover{
    background-color: rgb(51, 156, 123);
    border-radius: 5px;
    color:white;
}

button{
    outline: 0;
    padding: 0.5em;
    border: 2px solid rgb(51, 156, 123);
    background-color: rgb(51, 156, 123);
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    color:rgb(51, 156, 123);
}

.tasks-bg{
    min-width: 100%;
    gap:1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.task-details-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}